---
layout: default
title: Strona Komorniki MTB Team
image: assets/images/kmtb/kmtb028.jpg
description: Komorniki MTB Team to amatorska drużyna kolarstwa górskiego. To zgrany zespół, którego trzon stanowią zawodnicy mieszkający na terenie gminy Komorniki, który z powodzeniem startuje w rowerowych zawodach nie tylko w Wielkopolsce, ale i w całej Polsce!
---

<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
    {% for post in paginator.posts %}
        {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

