<div class="container">
  <div class="main-timeline">

    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">05</span>
          <span class="year">2016</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Początek KMTB Team</h5>
        <p class="description">
          Z inicjatywy mieszkańców wsi Szreniawa powstaje nieformalna grupa rowerzystów pod nazwą Komorniki MTB Team.
        </p>
      </div>
    </div>

    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">06</span>
          <span class="year">2016</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Pierwsze stroje klubowe</h5>
        <p class="description">
          Pojawiają się pierwsze stroje zawodników KMTB Team
        </p>
      </div>
    </div>

    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">12</span>
          <span class="year">2016</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Podsumowanie 2016 r.</h5>
        <p class="description">
          <ul>
            <li>6 zawodników</li>
            <li>udział w imprezach: 16 imprez</li>
          </ul>
        </p>
      </div>
    </div>

    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">12</span>
          <span class="year">2017</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Podsumowanie 2017 r.</h5>
        <p class="description">
          <ul>
            <li>14 zawodników</li>
            <li>udział w imprezach: 31 imprez</li>
          </ul>
        </p>
      </div>
    </div>

    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">12</span>
          <span class="year">2018</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Podsumowanie 2018 r.</h5>
        <p class="description">
          <ul>
            <li>20 zawodników</li>
            <li>udział w imprezach: 56 imprez</li>
          </ul>
        </p>
      </div>
    </div>

    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">08</span>
          <span class="year">2019</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Formalna rejestracja KMTB Team</h5>
        <p class="description">
          <ul>
            <li>wpis do Rejestru Starosty Poznańskiego pod numerem EKS-131 </li>
            <li>uchwalenie statutu klubu sportowego</li>
            <li>NIP, REGON</li>
          </ul>
        </p>
      </div>
    </div>

    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">12</span>
          <span class="year">2019</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Podsumowanie 2019 r.</h5>
        <p class="description">
          <ul>
            <li>36 zawodników</li>
            <li>udział w imprezach: 58 imprez</li>
          </ul>
        </p>
      </div>
    </div>

    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">02-11</span>
          <span class="year">2020</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Zadanie publiczne</h5>
        <p class="description">
          Realizacja oferty zadania publicznego: "Organizacja i prowadzenie zajęć sportowych w zakresie kolarstwa i biegów"
        </p>
      </div>
    </div>

    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">12</span>
          <span class="year">2020</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Podsumowanie 2020 r.</h5>
        <p class="description">
          <ul>
            <li>45 zawodników</li>
            <li>udział w imprezach: 52 imprezy</li>
          </ul>
        </p>
      </div>
    </div>

    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">02-11</span>
          <span class="year">2021</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Zadania publiczne</h5>
        <p class="description">
          Realizacja ofert i  zadań publicznych:
          <ol>
            <li>"Wspieranie i rozpowszechnianie kultury fizycznej i sportu"</li>
            <li>"Organizacja obozu rowerowego z udziałem w zawodach sportowych"</li>
          </ol>
        </p>
      </div>
    </div>

    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">12</span>
          <span class="year">2021</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Podsumowanie 2021 r.</h5>
        <p class="description">
          <ul>
            <li>52 zawodników</li>
            <li>udział w imprezach: 65 imprez</li>
          </ul>
        </p>
      </div>
    </div>

  </div>
</div>